#container{
    --main-bg:rgb(255, 255, 255);
    background-color:var(--main-bg) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    

}
Contact me{
    color: black;
    font-size: medium;
}
header{
    background-color: beige;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
}

.project-section{
    display: flex;
    flex-direction: row;
}
.project1{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
font-family: 'Courier New', Courier, monospace;
color: black;
background-color: rgb(202, 202, 117);
width: 500px;

}
.project2{
    display: flex;
    flex-direction: column;
    text-align: center;
justify-content: center;
font-family: 'Courier New', Courier, monospace;
color: black;
background-color: rgb(120, 255, 172);
}
.project3{
    display: flex;
    flex-direction: column;
    text-align: center;
justify-content: center;
font-family: 'Courier New', Courier, monospace;
color: black;
background-color: rgb(220, 100, 100);
}
button{
    background-color: aquamarine ;
    width: 100px;
    height: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.navbar-dark{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    
}
